@charset "utf-8";
/*common style*/
*{ 
	margin: 0; 
	padding: 0;
	font-family: Microsoft YaHei;
	outline: none;
}
html,body{
	width: 100%;
	height: 100%;
	/*禁止文字选中*/
	-webkit-touch-callout: none; 
	-webkit-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none; 
}
ul,li,p{ 
	list-style:none; 
}
a{ 
	text-decoration:none;
} 
a:hover{
	text-decoration: none;
}
a:active{
	background: none;
}
textarea,input,button,select{ 
	border: none;
	background: none;
}
.hide{
	display: none !important;
}
.container{
    width: 100% !important;
    height: 100% !important;
    position: relative;
}


















